<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
       
        <div class="row">
            <div class="col-md-6 mx-auto shadow-sm py-4 h-100">
                <h1 class="text-center">Your new redirect url is <a href=<%=link%>>Link</a> </h1>
                <% if (message) { %>
                    
                    <h6 class="alert alert-success text-center"><%=message%></h6>
                <% } %>
              
                <form action="/edit" method="POST">
                    <input type="text" class="form-control w-100 my-2" name="link" placeholder="Type in your link">
                    <button class="btn btn-success w-100">Edit Redirection Link</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>